In [1]:
2 + 1

3

In [2]:
39 % 14

11

In [3]:
7%3

1

In [4]:
3 ** 2

9

In [7]:
my_name = 'Kamalika Bhattacharya'

In [8]:
print(my_name)

Kamalika Bhattacharya

In [9]:
my_name[0:]

'Kamalika Bhattacharya'

In [10]:
my_name[8:]

' Bhattacharya'

In [11]:
my_name[4:10]

'lika B'

In [12]:
my_name[::]

'Kamalika Bhattacharya'

In [13]:
my_name[::-1]

'ayrahcattahB akilamaK'

In [14]:
my_name[::-2]

'arhath klmK'

In [15]:
my_name[0:8:1]

'Kamalika'

In [16]:
my_name[-1:]

'a'

In [18]:
my_name[-3:-1]

'ry'

In [19]:
'My name is {}'.format('Kamalika')

'My name is Kamalika'

In [20]:
'My name is {0} {1}'.format('Kamalika','Bhattacharya')

'My name is Kamalika Bhattacharya'

In [21]:
Number = 1057.897654

In [26]:
'{:1.1f}'.format(Number)

'1057.9'

In [24]:
'{:^10}'.format(Number)

'1057.897654'

In [27]:
list1 = [20,'twenty',55.5]

In [28]:
list2 = [30,40,50]

In [29]:
list1 + list2  #but it does not get saved

[20, 'twenty', 55.5, 30, 40, 50]

In [30]:
list1

[20, 'twenty', 55.5]

In [31]:
list2

[30, 40, 50]

In [32]:
x = list1+list2 #now it is saved

In [33]:
x

[20, 'twenty', 55.5, 30, 40, 50]

In [35]:
x

[20, 'twenty', 55.5, 30, 40, 50]

In [36]:
list1[0]

20

In [37]:
list1[0:]

[20, 'twenty', 55.5]

In [38]:
x[::-1]

[50, 40, 30, 55.5, 'twenty', 20]

In [39]:
x[1:4]

['twenty', 55.5, 30]

In [40]:
x[0:5:2]

[20, 55.5, 40]

In [43]:
x[1] = 'Kamalika' #Lists are mutable unlike strings

In [42]:
x

[20, 'Kamalika', 55.5, 30, 40, 50]

In [51]:
student_name = 'sally'

In [50]:
student_name[0] = 'Mallika'  # We cannot do that, to change the variable we can do string concatenation

TypeError: 'str' object does not support item assignment

In [53]:
last_letters = student_name[2:]

In [57]:
student_name ='Mo' + last_letters   #we replaced sally with Molly using string concatenation

In [58]:
student_name

'Molly'

In [59]:
student_name[2]

'l'

In [60]:
type(student_name)

str

In [61]:
type(x)

list

In [62]:
x

[20, 'Kamalika', 55.5, 30, 40, 50]

In [63]:
x.pop()

50

In [64]:
x

[20, 'Kamalika', 55.5, 30, 40]

In [65]:
x.append(100)

In [66]:
x

[20, 'Kamalika', 55.5, 30, 40, 100]

In [67]:
x.reverse()

In [68]:
x

[100, 40, 30, 55.5, 'Kamalika', 20]

In [70]:
x.sort()  #will have to have same datatypes in the list to sort

TypeError: '<' not supported between instances of 'str' and 'int'

In [71]:
x_letters=['m','a','z','p']

In [72]:
x_letters.sort()   #sort the letters in place

In [73]:
x_letters

['a', 'm', 'p', 'z']

In [74]:
x_sortedletters = x_letters.sort() #wrong approach

In [76]:
x_sortedletters #wrong approach

In [1]:
#dictionaries are mutable, tuples are immutable

In [2]:
t=(1,2,3)   #immutable

In [3]:
type(t)

tuple

In [4]:
L=[1,2,3]  #mutable

In [5]:
type(L)

list

In [6]:
D={'KEY1':1,'KEY2':2,'KEY3':3}  #mutable

In [7]:
type(D)

dict

In [8]:
T=('a','a','b','b','b','c','d','d')

In [9]:
T.count('b')  #counts the number of times b occured

3

In [12]:
T.index('d')   #shows the index where for the very first time d occured

6

In [13]:
#sets are unordered collection of unique objects

In [14]:
myset = set()

In [16]:
myset.add(9)

In [17]:
myset

{9}

In [18]:
myset.add(36)

In [19]:
myset

{9, 36}

In [22]:
myset.add(36)  #no repeatation of character allowed

In [21]:
myset

{9, 36}

In [23]:
set("Kaamaaaaalllliikkkkkkkkkka")

{'K', 'a', 'i', 'k', 'l', 'm'}

In [24]:
pwd

'C:\\Users\\kamal'

In [25]:
myfile=open('test.txt')

In [26]:
pwd(myfile)

'C:\\Users\\kamal'

In [27]:
%%writefile newfile.txt
I am Kamalika Bhattacharya
I am a bad person
I hate everyone and everything
I feel like dying

Writing newfile.txt

In [28]:
newfile = open('newfile.txt')

In [29]:
newfile.read()

'I am Kamalika Bhattacharya\nI am a bad person\nI hate everyone and everything\nI feel like dying\n'

In [30]:
newfile.read()

''

In [35]:
#we will reassign the cursor
newfile.seek(0)

0

In [43]:
contents = newfile.read() #output is in form of strings

In [37]:
contents

'I am Kamalika Bhattacharya\nI am a bad person\nI hate everyone and everything\nI feel like dying\n'

In [41]:
newfile.seek(0)

0

In [42]:
newfile.readlines()   #output is in form of lists

['I am Kamalika Bhattacharya\n',
 'I am a bad person\n',
 'I hate everyone and everything\n',
 'I feel like dying\n']

In [44]:
newfile.close()

In [47]:
with open ('newfile.txt') as myfile:
    content=myfile.read()

In [46]:
content

'I am Kamalika Bhattacharya\nI am a bad person\nI hate everyone and everything\nI feel like dying\n'

In [48]:
%%writefile mynewfile.txt
one two three
four five six
seven eight nine

Writing mynewfile.txt

In [49]:
with open('mynewfile.txt',mode='r') as f:  #read only mode
    print(f.read())

one two three
four five six
seven eight nine

In [53]:
with open('mynewfile.txt',mode='a') as f:    #append new line
    f.write('ten eleven twelve')

In [52]:
with open('mynewfile.txt',mode='r') as f:    
    print(f.read())

one two three
four five six
seven eight nine
ten eleven twelve

In [56]:
with open('hgfkslatenchsj.txt',mode='w') as f:   #overwrite the file or create a new file
    f.write('new text file')

In [55]:
with open('hgfkslatenchsj.txt',mode='r') as f:
    print(f.read())

new text file

In [2]:
mylist = [1,2,3,4,5,6,7,8,9,10,11]     #we are printing each number of a list

for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10
11

In [3]:
#sum of the numbers of the list

list_sum=0

for num in mylist:
    list_sum = list_sum + num
    
print(list_sum)

66

In [4]:
list_sum=0

for num in mylist:
    list_sum = list_sum + num
    print(list_sum)

1
3
6
10
15
21
28
36
45
55
66

In [5]:
mylist = [1,2,3,4,5,6,7,8,9,10,11]     

for num in mylist:
    print('Kamalika')

Kamalika
Kamalika
Kamalika
Kamalika
Kamalika
Kamalika
Kamalika
Kamalika
Kamalika
Kamalika
Kamalika

In [7]:
"Hello World"                         #printing each letters of a string

for letters in "Hello World":
    print(letters)

H
e
l
l
o

W
o
r
l
d

In [9]:
for _ in "Hello World":   #cool is printed 11 times as there are 11 characters in Hello World
    print('cool')

cool
cool
cool
cool
cool
cool
cool
cool
cool
cool
cool

In [10]:
tup = (1,2,3,4)

for num in tup:
    print(tup)

(1, 2, 3, 4)
(1, 2, 3, 4)
(1, 2, 3, 4)
(1, 2, 3, 4)

In [11]:
mylist = [(1,2),(3,4),(5,6),(7,8)]         #the list contains group of tuples as items
for tup in mylist:
    print(tup)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [13]:
for (a,b) in mylist:      #tuple unpacking
    print (a)
    print (b)

1
2
3
4
5
6
7
8

In [14]:
d = {'k1':1,'k2':2,'k3':3}   #by default returns only keys

for item in d:
    print (item)

k1
k2
k3

In [17]:
for item in d.values():
    print (item)

1
2
3

In [18]:
for item in d.items():   #returns key:value pairs
    print (item)

('k1', 1)
('k2', 2)
('k3', 3)

In [51]:
for item,value in d.items():
    print (value)

1
2
3

In [22]:
#while loops continue to execute a block of code WHILE some condition remains true

In [24]:
x = 0

while x<5:
    print('the current value of x is {}'.format(x))
    x = x+1
    #x += 1

the current value of x is 0
the current value of x is 1
the current value of x is 2
the current value of x is 3
the current value of x is 4

In [26]:
x = [1,2,3]

for num in x:
    pass                 #we did not get syntax error beacuse of the pass keyword


print("end of loop")

end of loop

In [27]:
mystring = 'KOMU'

In [31]:
for letters in mystring:
    if letters == 'M':
      break                     #Break keyword breaks out of the current closest enclosing loop
    print(letters)

K
O

In [33]:
for letters in mystring:
    if letters == 'M':
      continue                     #Continue keyword goes to the top of the current closest enclosing loop
    print(letters)

K
O
U

In [34]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [35]:
for num in range(4,10):
    print(num)

4
5
6
7
8
9

In [36]:
for num in range(0,10,2):     #range(start,stop,step)
    print(num)

0
2
4
6
8

In [40]:
#to make it a list
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [44]:
index_count = 0

for letter in 'abcdefghijkl':
    print("at index {} the letter is {}".format(index_count,letter))
    index_count += 1

at index 0 the letter is a
at index 1 the letter is b
at index 2 the letter is c
at index 3 the letter is d
at index 4 the letter is e
at index 5 the letter is f
at index 6 the letter is g
at index 7 the letter is h
at index 8 the letter is i
at index 9 the letter is j
at index 10 the letter is k
at index 11 the letter is l

In [53]:
word = 'teacher'

for item in enumerate(word):    #enumerate function takes in any sort of iterable object and returns indexcounter and its object
    print(item)

(0, 't')
(1, 'e')
(2, 'a')
(3, 'c')
(4, 'h')
(5, 'e')
(6, 'r')

In [52]:
for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
t


1
e


2
a


3
c


4
h


5
e


6
r

In [49]:
for index,letter in enumerate(word):
    print(index)

0
1
2
3
4
5
6

In [60]:
list1=[1,2,3]
list2=['a','b','c']
list3=[500,80000,900]

for item in zip(list1,list2,list3):
    print(item)

(1, 'a', 500)
(2, 'b', 80000)
(3, 'c', 900)

In [59]:
for index,letter in zip(list1,list2):
    print(index)
    print(letter)
    print('\n')

1
a


2
b


3
c

In [61]:
for f,g,h in zip(list1,list2,list3):
    print(f)
    print(h)
    print('\n')

1
500


2
80000


3
900

In [62]:
#to check if something is in the list

'x' in [3,6,9]

False

In [63]:
100 in [200,100,10]

True

In [64]:
d = {'key1': 30}

In [65]:
60 in d.keys()

False

In [66]:
30 in d.keys()

False

In [67]:
30 in d.values()

True

In [68]:
'key1' in d

True

In [69]:
#built in RANDOM library

from random import shuffle

In [70]:
list=[6,7,8,9,10,11,12]

In [71]:
shuffle(list)

In [72]:
list

[9, 10, 8, 7, 6, 12, 11]

In [73]:
from random import randint

In [75]:
randint(0,1000)  #syntax= randint(lower_range,upper_range)

720

In [76]:
#to take user input
name= input('what is your name?')

what is your name?Komu

In [77]:
name

'Komu'

In [78]:
num= input('what is the number?')  #input function always use objects as string

what is the number?10

In [79]:
num

'10'

In [80]:
type(num)

str

In [81]:
float(num)

10.0

In [84]:
newlist = [x for x in 'tiger']    #list comprehension

In [83]:
newlist

['t', 'i', 'g', 'e', 'r']

In [87]:
mylist = [num for num in range(0,11)]

In [88]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [89]:
mylist = [num**2 for num in range(0,11)]

In [90]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [93]:
mylist = [num for num in range(1,11) if num%2 == 0]

In [94]:
mylist

[2, 4, 6, 8, 10]

In [100]:
#celcius to farenhite conversion

celcius = [10,50,40]
farenhite = [( (9/5)*temp + 32) for temp in celcius]

In [101]:
farenhite

[50.0, 122.0, 104.0]

In [102]:
farenhite = []

for temp in celcius:
    farenhite.append((9/5)*temp + 32)

In [103]:
farenhite

[50.0, 122.0, 104.0]

In [122]:


 for x in (range(1,11)):
    if x%2==0:
        print('even')
    else:
        print('odd')

odd
even
odd
even
odd
even
odd
even
odd
even

In [1]:
def say_hello(name):
    print(f'hello{name}')

In [5]:
say_hello(' komu')

hello komu

In [16]:
def say_hello(name = ' Kamalika'):    #here we are providing default name to the argument name, so during calling the function argument name is not required
    print(f'hello {name}')

In [15]:
say_hello()

hello  Kamalika

In [17]:
#return true if any number is even inside a list

In [27]:
def check_even_list(num_list):
    
    for number in num_list:
        if number%2 == 0:
            return True
        else:
            pass
    return False

In [28]:
check_even_list([1,3,5])

False

In [26]:
check_even_list([8,10,1,1,3])

True

In [29]:
check_even_list([1,2,5])

True

In [30]:
#return all the even numbers in a list

In [35]:
def check_even_list(num_list):
    
    even_num_list = []   #placeholder variable
    
    for number in num_list:
        if number%2 == 0:
            even_num_list.append(number)
        else:
            pass
    return even_num_list

In [39]:
check_even_list([2,6,8,9,3,11])

[2, 6, 8]

In [10]:
work_hours = [('komu',100),('sharmila',700),('milani',1000)]

In [11]:
def best_employee(work_hours):    #from the above list find out the best employee based on maximum hours 
    current_max = 0
    employee_of_month = ''
    
    for employee,hour in work_hours:
        if hour>current_max:
            current_max = hour
            employee_of_month = employee
        else:
            pass
    return(employee_of_month,current_max)

In [12]:
result = best_employee(work_hours)

In [13]:
result

('milani', 1000)

In [14]:
name,hours = best_employee(work_hours)   #for tuple unpacking purpose

In [15]:
name

'milani'

In [16]:
hours

1000

In [1]:
example_list = [1,2,5,8,9,4]

In [2]:
from random import shuffle

In [3]:
def shuffle_list(mylist):
    shuffle(mylist)
    return mylist

In [4]:
result = shuffle_list(example_list)

In [5]:
result

[1, 9, 4, 5, 2, 8]

In [32]:
mylist = [0,'O',100,'', 56]

In [33]:
shuffle_list(mylist)

[56, 100, '', 0, 'O']

In [34]:
def player_guess():
    guess = ''
    
    while guess not in ['0','1','2','3','4']:
        guess = input("pick a number: 0,1,2,3 or 4")
        
    return int(guess)

In [35]:
player_guess()

pick a number: 0,1,2,3 or 42

2

In [22]:
player_guess()

pick a number: 0,1,2,3 or 44

4

In [36]:
def check_guess(mylist,guess):
    if another_list[guess] == 'O':
        print("correct")
    else:
        print("wrong guess")
        print(mylist)

In [38]:
#initial list
mylist = [0,'O',100,'', 56]

#shuffled list
mixedup_list = shuffle(mylist)

#user guess
guess = player_guess()

#check guess
check_guess(mixedup_list,guess)

pick a number: 0,1,2,3 or 42
correct

In [6]:
def myfunc(**kwargs):
    print(kwargs)
    if 'fruit' in kwargs:
        print('my fav fruit is {}'.format(kwargs['fruit']))
    else:
        print('i dont have any fav fruit')

In [10]:
myfunc(fruit ='apple',veggie = 'potato')

{'fruit': 'apple', 'veggie': 'potato'}
my fav fruit is apple

In [13]:
def myfunc(*args,**kwargs):
    print(args)
    print(kwargs)
    
    print('I would like to have {} {}'.format(args[1],kwargs['fruit']))

In [14]:
myfunc(10,20,30,40,food='french fries',fruit='orange',snacks='chips')

(10, 20, 30, 40)
{'food': 'french fries', 'fruit': 'orange', 'snacks': 'chips'}
I would like to have 20 orange

In [1]:
c = 'Kamalika'

In [2]:
type(c)

str

In [3]:
def square(num):
    return num**2

In [6]:
my_list=[1,2,3,4,5]

In [7]:
for item in map(square,my_list):
    print(item)

1
4
9
16
25

In [8]:
def splicer(mystring):
    if len(mystring)%2 == 0:
        return 'even'
    else:
        return mystring[0]

In [9]:
names = ['KOMU','MOLLY','SANDY']

In [14]:
for item in map(splicer,names):
    print (item)

even
M
S

In [6]:
def check_even(num):
    return num%2 == 0

In [7]:
mynums = [2,3,8,7,4,10]

In [8]:
for item in filter(check_even,mynums):
    print(item)

2
8
4
10

In [12]:
square = lambda num: num**2    #lambda function

In [10]:
square(3)

9

In [11]:
list(map(lambda num:num**2,mynums))

[4, 9, 64, 49, 16, 100]

In [13]:
list(filter(lambda num: num%2 == 0,mynums))

[2, 8, 4, 10]

In [14]:
#function to create first character of  strings in a list

name_list = ['Minu','Chandra','Piyali']

In [33]:
name_list

['Minu', 'Chandra', 'Piyali']

In [45]:
def fetch_letter(name_list):
    result = []             #storing first letters in his string
    for name in name_list:
         result.append(name[0])  #appending first letters to result list
    return result

In [46]:
first_letters = fetch_letter(name_list)

In [47]:
print(first_letters)

['M', 'C', 'P']

In [48]:
#using lambda function

list(map(lambda name:name[0],name_list))

['M', 'C', 'P']

In [49]:
list(map(lambda name:name[::-1],name_list))

['uniM', 'ardnahC', 'ilayiP']

In [5]:
def user_choice():                   #taking user input as a number. If user input is a string , it wont be validated
    choice = 'wrong'
    
    while choice.isdigit() == False :            #isdigit() method returns True if there are digits within a string
        
        choice = input("enter value within (0 to 10):")
        if choice.isdigit() == False:
            print("sorry that is not a digit")
        
       
    return int(choice)

In [6]:
user_choice()

enter value within (0 to 10):ten
sorry that is not a digit
enter value within (0 to 10):5

5

In [3]:
input = '100'

In [4]:
input.isdigit()

True

In [1]:
result = 'Kamalika'

In [2]:
acceptable_values = [1,2,3,5]

In [3]:
result in acceptable_values

False

In [4]:
result not in acceptable_values

True

In [5]:
def user_choice():           
    choice = 'wrong'
    acceptable_range = range(0,10)
    within_range = False
    
    
    while choice.isdigit() == False or within_range == False: 
        
        choice = input("enter value within (0 to 10):")
        
        #Digit check
        if choice.isdigit() == False:
            print("sorry that is not a digit")
        
        #range check
        if choice.isdigit()== True:
            if int(choice) in acceptable_range:
                within_range = True
            else:
                print("sorry you are not in acceptable range")
                within_range = False
            
        
       
    return int(choice)

In [6]:
user_choice()

enter value within (0 to 10):ten
sorry that is not a digit
enter value within (0 to 10):100
sorry you are not in acceptable range
enter value within (0 to 10):10
sorry you are not in acceptable range
enter value within (0 to 10):0

0

In [1]:
game_list = [0,1,2]

In [2]:
def display_game(game_list):
    print("here is the game list")
    print(game_list)

In [3]:
display_game(game_list)

here is the game list
[0, 1, 2]

In [4]:
def positional_index():
    choice = 'wrong'
    while choice not in ['0','1','2']:
        choice = input('enter a digit (0,1,2):')
        if choice not in ['0','1','2']:
            print ("wrong choice")
    return int(choice)

In [5]:
positional_index()

enter a digit (0,1,2):2

2

In [6]:
def replacement_choice(game_list,position):
    user_index = input("enter a string")
    game_list[position] = user_index
    
    return game_list

In [7]:
replacement_choice(game_list,0)

enter a stringKamalika is 22 years old

['Kamalika is 22 years old', 1, 2]

In [8]:
def gameon_choice():
    choice = 'wrong'
    while choice not in ['Y','N']:
        choice = input('Do you want to keep playing (Y or N):')
        if choice not in ['Y','N']:
            print ("Please select Y or N")
    if choice == 'Y':
        return True
    else:
        return False

In [9]:
gameon_choice()

Do you want to keep playing (Y or N):hi
Please select Y or N
Do you want to keep playing (Y or N):y
Please select Y or N
Do you want to keep playing (Y or N):Y

True

In [10]:
game_on = True
game_list = [0,1,2,3,4,5]

while game_on == True:
    
    display_game(game_list)
    position = positional_index()
    game_list = replacement_choice(game_list,position)
    display_game(game_list)
    game_on = gameon_choice()

here is the game list
[0, 1, 2, 3, 4, 5]
enter a digit (0,1,2):3
wrong choice
enter a digit (0,1,2):1
enter a stringPubali
here is the game list
[0, 'Pubali', 2, 3, 4, 5]
Do you want to keep playing (Y or N):y
Please select Y or N
Do you want to keep playing (Y or N):Y
here is the game list
[0, 'Pubali', 2, 3, 4, 5]
enter a digit (0,1,2):2
enter a stringDhyaros
here is the game list
[0, 'Pubali', 'Dhyaros', 3, 4, 5]
Do you want to keep playing (Y or N):N

In [18]:
class Dog():
    # class object attribute, same for any instance of a class
    species = 'Mammal'

    def __init__(self, breed, name, spots):  #double underscore in innit
        self.breed = breed
        self.name = name
        self.spots = spots
        
        
    #methods......
    def bark(self,number):
        print("woof! my name is {} and my number is {}".format(self.name,number))  #cannot use format(name)

In [21]:
# Creating an instance of the Dog class
my_dog = Dog(breed='lab', name='Sammy', spots=False)

In [22]:
my_dog.species

'Mammal'

In [23]:
my_dog.spots

False

In [24]:
my_dog.bark(3)

woof! my name is Sammy and my number is 3

In [16]:
class Circle():
    pi = 3.14
    
    def __init__(self,radius=1):
        self.radius = radius
        self.area = radius*radius*self.pi
        
    def get_circumference(self):
        return self.pi*self.radius*2

In [17]:
my_circle = Circle()

In [18]:
my_circle.get_circumference()

6.28

In [19]:
my_circle.radius

1

In [20]:
my_circle = Circle(40)

In [21]:
my_circle.get_circumference()

251.20000000000002

In [22]:
my_circle.radius

40

In [23]:
my_circle.area

5024.0

In [24]:
#inheritence.......

In [26]:
class Animal():
    def __init__(self):
        print ("animal created")
        
    def eat(self):
        print("I am eating")
        
    def who_am_i(self):
        print("I am an animal")

In [27]:
my_animal = Animal()

animal created

In [38]:
class Dog(Animal):
    def __init__(self):
        Animal.__init__(self)
        print('dog created')
        
        
    #to overwrite a method
    def who_am_i(self):
        print('I am a dog')
        
        
    #add on method
    
    def bark(self):
        print('Woof!')

In [39]:
mydog = Dog()

animal created
dog created

In [40]:
mydog.eat()   #inherited from the base class

I am eating

In [41]:
mydog.who_am_i()

I am a dog

In [42]:
my_animal.who_am_i()

I am an animal

In [43]:
mydog.bark()

Woof!

In [44]:
#polymorphism......

In [50]:
class Dog():
    def __init__(self,name):
        self.name = name
        
    def speaks(self):
        return self.name + ' says Woof!'

In [51]:
class Cat():
    def __init__(self,name):
        self.name = name
        
    def speaks(self):
        return self.name + ' says Meow!'

In [52]:
Sam = Dog("Sam")
Mini = Cat("Mini")

In [53]:
Sam.speaks()

'Sam says Woof!'

In [54]:
Mini.speaks()

'Mini says Meow!'

In [55]:
for pet in [Sam,Mini]:   #iteration method
    print (type(pet))
    print (pet.speaks())

<class '__main__.Dog'>
Sam says Woof!
<class '__main__.Cat'>
Mini says Meow!

In [56]:
def pet_speak(pet):       #function method to show polymorphism
    print(pet.speaks())

In [57]:
pet_speak(Sam)

Sam says Woof!

In [58]:
pet_speak(Mini)

Mini says Meow!

In [77]:
class Book():
    def __init__(self,title,author,pages):
        self.title = title
        self.author = author
        self.pages = pages
        
    def __str__(self):              #returns string representation of user defined object
        return f"{self.title} by {self.author}"
    
    def __len__(self):      #returns length of user defined objects
        return self.pages
    
    def __del__(self):
        print("the book object has been deleted")

In [78]:
mybook = Book('Python Rocks','Kamalika',200)

In [79]:
print (mybook)

Python Rocks by Kamalika

In [80]:
len(mybook)

200

In [81]:
del mybook

the book object has been deleted

In [82]:
mybook

NameError: name 'mybook' is not defined

In [4]:
try:
    result = 10+ 10     #might obtain error
    
except:
    print("you are not adding correctly!")    #runs if there is an error in try block
    
else:
    print("add went well")     #runs if try block is correct
    print(result)

add went well
20

In [5]:
result

20

In [6]:
try:
    f= open('testfile','r')
    f.write("write a testline")
    
except TypeError:
    print("There is a type error")
    
except OSError:
    print("OSerror")
    
finally:
    print("I always run")

OSerror
I always run

In [7]:
try:
    f= open('testfile','w')
    f.write("write a testline")
    
except TypeError:
    print("There is a type error")
    
except OSError:
    print("OSerror")
    
finally:
    print("I always run")

I always run

In [8]:
try:
    f= open('testfile','r')
    f.write("write a testline")
    

except:
    print("All other exceptions")
    
finally:
    print("I always run")

All other exceptions
I always run

In [1]:
def ask_for_int():
    while True:
        try:
            number = int(input("please provide a number: "))

        except:

            print("whoops that is not a number!")
            continue

        else:
            #if user input is correct
            print("Thank you")
            break
        finally:
            print("end of try/except/finally")

In [2]:
ask_for_int()

please provide a number: r
whoops that is not a number!
end of try/except/finally
please provide a number: 67
Thank you
end of try/except/finally